@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,800&family=Roboto+Mono:ital,wght@0,200;0,300;1,200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600;800&family=Prompt:wght@100;200;300;400;600;700;800;900&display=swap');


@layer utilities {
	@variants responsive {
        .menu{
            max-width: 24px;
            max-height: 24px;
        }
        .pause{
          max-width: 52px;
          max-height: 52px;
      }
      .pause2{
        max-width: 48px;
        max-height: 48px;
    }
    .rotate{
      max-width: 46px;
      max-height: 36px;
  }
  .rotate2{
    max-width: 42px;
    max-height:35px;
  }
        .menu2{
          max-width: 18px;
        }
        .logo{
          max-width: 100px;
        }
        .big-height{
            line-height: 5.4rem;
        }
        .cloud{
            max-width: 350px;
        }
        .cloud2{
          max-width: 200px;
        }
        .desktop-bag{
            max-width: 500px;
        }
        .desktop-bag2{
          max-width: 350px;
      }
      .desktop-bag3{
        max-width: 250px;
    }
        .paragraph{
          max-width: 120px;
        }
        .sub-heading{
          max-width: 400px;
        }
      
	}
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; 
}
h3{
  font-family:"Prompt", sans-serif ;

}
h4{
  font-family:"Assistant", sans-serif ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
